@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Handlee';
}

/*------------------*/

body {
	background-color: #FFD7D4;
    position: relative;
    padding: 50px 20px 0px 20px;
}

p {
    padding: 10px 20px 5px 20px;
    text-align: left
    color: #782A1A;
}

h1 {
	margin-bottom: 35px;
    text-align: center;
    color: #782A1A
}

h3 {
    text-align: center;
    width: 100px;
    padding: 10px;
    color: #fff;
    margin-left: auto;
    border: 1px solid black;
}

/*------------------*/

.bl {
    background: #F8F0EA;
    border: 1px solid black;
    margin: 20px;
    float: left;
}

/*------------------*/

#ttl_1 {
    background: #CD9994;
}

#ttl_2 {
    background: #C69078;
}

#ttl_3 {
    background: #EFB38F;
}

/*------------------*/

.row {
    width: 100%;
}

/*** desktop view ***/
@media (min-width:992px) {
    .col-lg-4 {
        width: 30%; 
    }
}

/*** tablet view ***/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 45%;
        margin: 20px;
    }
}

/*** mobile view ***/
@media (max-width: 767px) {
    .col {
        width: 100%;
        margin: 10px;
    }
}
